<div class="jumbotron">
  <div class="container">
    <div class="page-header">
    <h1><%= t ".greeting" %></h1>
    </div>
    <p><%= t ".info" %></p>
    <div id="quizzes">
      <% quizzes.each do |q| %>
        <%= link_to q.title, routes.path(:person, quiz_id: q.id), class: "btn btn-default btn-lg", style: "margin-bottom:5px;" %>
      <% end %>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted"><%= t ".copyright1" %><br><%= t ".copyright2" %><br><%= t ".copyright3" %></p>
  </div>
</footer>
