<div class="container">
  <div class="page-header">
    <h1><%=  t('.header') %></h1>
  </div>
  <%= selection_form %>
  <% if dictionary %>
    <h2><%= t('.word') %> <%= params[:selection][:word] %></h2>
    <% if type == :straight %>
        <%= brief_table_straight %>
        <h2><%= t('.word-article') %></h2>
        <%= dictionary_table_straight %>
    <% elsif type == :reversed %>
        <%= brief_table_reversed %>
        <h2><%= t('.word-article') %></h2>
        <%= dictionary_table_reversed %>
    <% end %>
  <% end %>
</div>
