<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Web</title>
    <%= favicon %>
    <%= stylesheet 'bootstrap' %>
    <%= stylesheet 'global' %>
  </head>
  <body>
    <%= yield %>
  </body>
  <%= javascript 'jquery' %>
  <%= javascript 'jquery_ujs' %>
  <%= javascript 'bootstrap' %>
</html>
