<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <%= favicon %>
    <%= stylesheet 'bootstrap' %>
    <%= stylesheet 'global' %>
  </head>
  <body>
    <%= yield %>

    <%= javascript 'jquery' %>
    <%= javascript 'bootstrap' %>
    <%= local :js_person %>
  </body>
</html>
