<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Admin</title>
        <%= favicon %>
        <%= stylesheet 'bootstrap' %>
        <%= stylesheet 'global' %>
    </head>
    <body>
        <%= yield %>

        <%= javascript 'jquery2' %>
        <%= javascript 'bootstrap' %>
    </body>
</html>
